body{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Raleway', sans-serif;
}
.nav-logo{
    font-family: 'Alkatra', cursive;
}
.btn-style{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Raleway', sans-serif;
} 
